body {
  text-align: center;
  background-color: #011F3F;

}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#author{

  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
}
#start{
  margin-top: 70px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  box-shadow: 0 0 20px white;
  background-color: grey;
}
#user{
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#money{
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  box-shadow: 0 0 20px white;
  background-color: grey;
}
#comments{
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  box-shadow: 0 0 20px white;
  background-color: grey;
}


.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 5px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.box{
  box-shadow: 40 40 40px white;
}

#container2{
  margin:auto;
  font-size: 1rem;
  color: #FEF2BF;
  box-shadow: 0 0 20px white;
  background-color: grey;


}

#explain{
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  color: black;
  border:none;
  font-size:20px;
}
#container_instruction{

  margin:auto;
  font-size: 10rem;
  color: #FEF2BF;
  box-shadow: 0 0 20px white;
  background-color: grey;


}
#instruction{
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  color: black;
  border:none;
  font-size:20px;

}
